{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <img src="../../assets/image/siteon0-e5814.png" width="30" height="30" alt="">
            la
        </a>
    </nav>

    Bienvenue sur l'acceuil {{ app.user.username }} !




    <div class="topnav">
        <a class="active" href="{{ path('home') }}">Home</a>
        <a href="{{ path('jobs') }}">créer Jobs</a>
        <a href="{{ path('createSfc') }}">créer Sfcs</a>
        <a href="{{ path('former_add') }}">créer un user</a>
        <a href="#">About</a>
    </div>

    <div>
        <a href="{{ path('security_logout')}}"> deco</a>
    </div>



{% endblock %}