{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body{
            background-color: #224f76;

        }
        .container{
            text-align: center;
        }
        .bonjour{
            margin-top: 20px;
        }
        .text{
            margin-top: 80px;
        }
        .login{
            box-shadow: 1px 1px 15px 15px #a1c13a;
            background-color: white;
            border-radius: 20px 20px 20px 20px;
            text-align: center;
            margin: auto;
            border: solid 1px;
            height: 90%;
            width: 30%;
            margin-top: 100px;
        }
        .nom{
            color: #FFFFFF;
            padding-top: 8px;
        }
    </style>
{% endblock %}

{% block body %}



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img src="http://www.opc-sfc.eu/local/cache-vignettes/L116xH165/siteon0-e5814.png" width="40" height="40" class="d-inline-block align-top" alt="">
        step 4 SFC <span>/</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">-</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">-</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('jobs') }}">créer Jobs</a>
                        <a class="dropdown-item" href="{{ path('createSfc') }}">créer Sfcs</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

                <li class="nom">{{ app.user.username }} <span class=""><i class="material-icons"  style="font-size:17px;">person</i></span>/</li>

                <li><a class="nav-link" href="{{ path('security_logout')}}">deco</a></li>

        </ul>
    </nav>



    <div class="container">

        <div class="login">
            <div class="bonjour">
            Bienvenue sur l'acceuil {{ app.user.username }} !
            </div>

            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, delectus dolorem doloribus eius facilis illum impedit modi pariatur rem repellendus! Aperiam corporis doloremque eos est fugit, harum itaque voluptates. Eum?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, quos temporibus. Accusantium aliquam at beatae commodi deleniti dicta doloribus dolorum eveniet minus modi molestias perspiciatis praesentium quaerat, sit ut vitae!</p>
            </div>
        </div>


    </div>





{% endblock %}