{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <p>IG1:  {{ IG1 }}
        IG2:  {{ IG2 }}
        IG3:  {{ IG3 }}
        IG4:  {{ IG4 }}</p>
        <p>IO1:  {{ IO1 }}
        IO2:  {{ IO2 }}
        IO3:  {{ IO3 }}
        IO4:  {{ IO4 }}</p>


    </div>
    <div>
        {{ form(form) }}

{{ form_row(form) }}
{{ form_end(form) }}

    </div>

{% endblock %}