{% extends 'base.html.twig' %}

{% block body %}

    {% for Scfs in Sfcs %}
        {{ Sfcs.id }}

        {{ Scfs.NameSfc }} {{ Scfs.description }}
        {{ Scfs.indicatorObservable1 }} {{ Scfs.indicatorObservable2 }} {{ Scfs.indicatorObservable3 }}{{ Scfs.indicatorObservable4 }}
        {{ Scfs.indicatorGeneric1 }} {{ Scfs.indicatorGeneric2 }} {{ Scfs.indicatorGeneric3 }} {{ Scfs.indicatorGeneric4 }}

        {#{% if  %}#}
        {#<a href="{{ path('modifSfcs', {"id": Sfcs.id}) }}">Modifier</a> <br>#}

    {% endfor %}



{% endblock %}