{% extends 'base.html.twig' %}

{% block body %}



        {% if Sfcs|length > 0 %}
            <ul>
            {% for sfcs in Sfcs %}
                {{ sfcs.id }}
                {{ sfcs.NameSfc }} {{ sfcs.description }}
                {{ sfcs.indicatorObservable1 }} {{ sfcs.indicatorObservable2 }} {{ sfcs.indicatorObservable3 }}{{ sfcs.indicatorObservable4 }}
                {{ sfcs.indicatorGeneric1 }} {{ sfcs.indicatorGeneric2 }} {{ sfcs.indicatorGeneric3 }} {{ sfcs.indicatorGeneric4 }}
                <a href="{{ path('modifSfcs', {"id": sfcs.id}) }}">Modifier</a> <br>
                <br>
            {% endfor %}
            </ul>
        {% endif %}











{% endblock %}