{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(forms) }}
    {{ form_widget(forms) }}
    {{ form_end(forms) }}
    <a href="{{ link }}">{{ link }}</a>
    <a href="{{ path('former_add') }}"><button>add a new student !</button></a>

    <a href="{{ path('result_signing') }}"><button>next ?</button></a>

{% endblock %}