{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if user  %}
        <a href="{{ link }}">{{ link }}</a>


        {{ form_start(forms) }}
        {{ form_widget(forms) }}
        {{ form_end(forms) }}

    {% endif %}



{% endblock %}

